/* 控制姓名的显示方式 */

/* 在移动设备上的特定位置（如简历部分）允许换行 */
@media (max-width: 768px) {
  .resume-section .author-name {
    white-space: normal;
    display: block;
  }
  
  /* 创建两个独立的行用于英文和中文名 */
  .author-name-en, .author-name-cn {
    display: block;
    line-height: 1.2;
  }
  
  .author-name-en {
    margin-bottom: 0.2em;
  }
  
  .author-name-cn {
    margin-top: 0.2em;
  }
}

/* assets/css/custom.css */
/* Reduces the top padding for any section with the 'compact-section-top' class, for education in the homepage*/
.compact-section-top {
  /* translateY moves an element up or down. Negative values go up. */
  transform: translateY(-6rem) !important;
}